In [1]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np


sf_data = "../Resources/san_francisco/san_francisco.csv"

sf_data_df = pd.read_csv(sf_data)

sf_data_df.head()

,room_id,survey_id,host_id,room_type,country,city,borough,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,bathrooms,price,minstay,last_modified,latitude,longitude,location
0,4897143,1430,22931450,Shared room,NaN,San Francisco,NaN,North Beach,93,4.5,4,1.0,NaN,147.0,NaN,2017-07-10 23:43:52.770793,37.799263,-122.404322,0101000020E610000069C36169E0995EC091F3FE3F4EE6...
1,4670847,1430,22931450,Shared room,NaN,San Francisco,NaN,North Beach,115,4.5,4,1.0,NaN,137.0,NaN,2017-07-10 23:43:51.999819,37.798920,-122.404085,0101000020E610000077F35487DC995EC0670FB40243E6...
2,6750199,1430,25714209,Shared room,NaN,San Francisco,NaN,Downtown/Civic Center,4,5.0,2,1.0,NaN,145.0,NaN,2017-07-10 23:43:43.764972,37.785847,-122.416518,0101000020E6100000800C1D3BA89A5EC071546EA296E4...
3,11461771,1430,9744251,Shared room,NaN,San Francisco,NaN,Downtown/Civic Center,8,4.0,14,1.0,NaN,138.0,NaN,2017-07-10 23:43:42.484023,37.782079,-122.421775,0101000020E61000004ED1915CFE9A5EC0B7F1272A1BE4...
4,259622,1430,329072,Shared room,NaN,San Francisco,NaN,Financial District,125,4.5,4,1.0,NaN,90.0,NaN,2017-07-10 23:43:39.841547,37.794410,-122.404725,0101000020E6100000E9B7AF03E7995EC0C4CE143AAFE5...

In [2]:
#clean the empty column and rows:
sf_data_df=sf_data_df.dropna(axis="columns", how="any")
sf_data_df=sf_data_df.dropna(axis="rows", how="any")
sf_data_df=sf_data_df.drop(columns=["room_id","survey_id","host_id","last_modified"])
sf_data_df.head()

,room_type,city,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price,latitude,longitude,location
0,Shared room,San Francisco,North Beach,93,4.5,4,1.0,147.0,37.799263,-122.404322,0101000020E610000069C36169E0995EC091F3FE3F4EE6...
1,Shared room,San Francisco,North Beach,115,4.5,4,1.0,137.0,37.798920,-122.404085,0101000020E610000077F35487DC995EC0670FB40243E6...
2,Shared room,San Francisco,Downtown/Civic Center,4,5.0,2,1.0,145.0,37.785847,-122.416518,0101000020E6100000800C1D3BA89A5EC071546EA296E4...
3,Shared room,San Francisco,Downtown/Civic Center,8,4.0,14,1.0,138.0,37.782079,-122.421775,0101000020E61000004ED1915CFE9A5EC0B7F1272A1BE4...
4,Shared room,San Francisco,Financial District,125,4.5,4,1.0,90.0,37.794410,-122.404725,0101000020E6100000E9B7AF03E7995EC0C4CE143AAFE5...

In [3]:
#To save the cleaned data:
sf_data_df.to_csv("../Resources/san_francisco/san_francisco_cleandata.csv")